.App {
  text-align: center;
  /* display:flex; */
}
.profilepic{
height: 200px;
aspect-ratio: 1/1;
border-radius: 50%;
object-fit: cover;

}
.usergreet{
font-weight: lighter;

}

.username{
font-weight: bold;
font-style: italic;
color:blue

}
